@model WebProxyNETCore.Controllers.ListadoGBIpUri

@{
    ViewData["Title"] = "Estadisticas";
}

<h1>Filtros</h1>

@using (Html.BeginForm())
{
    <p>
        IP: @Html.TextBox("IP")
        URI: @Html.TextBox("URI")
        <input type="submit" value="Filtrar" />
    </p>
}
<br />
<h1>Group By IP:</h1>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GBIP.FirstOrDefault().IP )
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GBIP.FirstOrDefault().Permitido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GBIP.FirstOrDefault().Bloqueado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GBIP.FirstOrDefault().Limitado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GBIP.FirstOrDefault().Errado)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.GBIP ) {
        <tr>
            <td> @item.IP </td>
            <td> @item.Permitido </td>
            <td> @item.Bloqueado </td>
            <td> @item.Limitado </td>
            <td> @item.Errado</td>
        </tr>
    }
    </table>
<br />
<br />
<br />
<h1>Group By URI:</h1>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GBURI.FirstOrDefault().URI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GBURI.FirstOrDefault().Permitido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GBURI.FirstOrDefault().Bloqueado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GBURI.FirstOrDefault().Limitado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GBURI.FirstOrDefault().Errado)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.GBURI)
    {
        <tr>
            <td> @item.URI </td>
            <td> @item.Permitido </td>
            <td> @item.Bloqueado </td>
            <td> @item.Limitado </td>
            <td> @item.Errado</td>
        </tr>
    }
</table>