@model WebProxyNETCore.Models.ConfiguracionProxyModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ConfiguracionProxyModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Key)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Key)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bloqueada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bloqueada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoContador)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoContador)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdString">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
